@charset "UTF-8";
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; vertical-align: baseline; }

body, html { height: 100%; }

img, fieldset, a img { border: none; }

input[type="text"], input[type="email"], input[type="tel"], textarea { -webkit-appearance: none; }

input[type="submit"], button { cursor: pointer; }
input[type="submit"]::-moz-focus-inner, button::-moz-focus-inner { padding: 0; border: 0; }

textarea { overflow: auto; }

input, button { margin: 0; padding: 0; border: 0; }

div, input, textarea, select, button, h1, h2, h3, h4, h5, h6, a, span, a:focus { outline: none; }

ul, ol { list-style-type: none; }

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) { * { -webkit-text-size-adjust: none; } }
table { border-spacing: 0; border-collapse: collapse; width: 100%; }

@font-face { font-family: HelveticaNeueCyrRoman; src: url("fonts/HelveticaNeueCyrRoman.eot"); src: url("fonts/HelveticaNeueCyrRoman.eot?#iefix") format("embedded-opentype"), url("fonts/HelveticaNeueCyrRoman.woff2") format("woff2"), url("fonts/HelveticaNeueCyrRoman.woff") format("woff"), url("fonts/HelveticaNeueCyrRoman.ttf") format("truetype"); font-weight: normal; font-style: normal; }
@font-face { font-family: HelveticaNeueCyrBold; src: url("fonts/HelveticaNeueCyrBold.eot"); src: url("fonts/HelveticaNeueCyrBold.eot?#iefix") format("embedded-opentype"), url("fonts/HelveticaNeueCyrBold.woff2") format("woff2"), url("fonts/HelveticaNeueCyrBold.woff") format("woff"), url("fonts/HelveticaNeueCyrBold.ttf") format("truetype"); font-weight: normal; font-style: normal; }
@font-face { font-family: HelveticaNeueCyrThin; src: url("fonts/HelveticaNeueCyrThin.eot"); src: url("fonts/HelveticaNeueCyrThin.eot?#iefix") format("embedded-opentype"), url("fonts/HelveticaNeueCyrThin.woff2") format("woff2"), url("fonts/HelveticaNeueCyrThin.woff") format("woff"), url("fonts/HelveticaNeueCyrThin.ttf") format("truetype"); font-weight: normal; font-style: normal; }
@font-face { font-family: HelveticaNeueCyrLight; src: url("fonts/HelveticaNeueCyrLight.eot"); src: url("fonts/HelveticaNeueCyrLight.eot?#iefix") format("embedded-opentype"), url("fonts/HelveticaNeueCyrLight.woff2") format("woff2"), url("fonts/HelveticaNeueCyrLight.woff") format("woff"), url("fonts/HelveticaNeueCyrLight.ttf") format("truetype"); font-weight: normal; font-style: normal; }
@font-face { font-family: HelveticaNeueCyrUltraLight; src: url("fonts/HelveticaNeueCyrUltraLight.eot"); src: url("fonts/HelveticaNeueCyrUltraLight.eot?#iefix") format("embedded-opentype"), url("fonts/HelveticaNeueCyrUltraLight.woff2") format("woff2"), url("fonts/HelveticaNeueCyrUltraLight.woff") format("woff"), url("fonts/HelveticaNeueCyrUltraLight.ttf") format("truetype"); font-weight: normal; font-style: normal; }
body { font-size: 13px; line-height: 1.4; background: white; font-family: "HelveticaNeueCyrRoman", Helvetica, sans-serif; }

a { text-decoration: none; }

h1, h2, h3, h4, h5, h6, strong { font-weight: normal; }

.txt-center { text-align: center; }

.onleft { float: left; }

.onright { float: right; }

.h1 { font-size: 40px; color: #4c4369; text-transform: uppercase; letter-spacing: 0.08em; font-family: "HelveticaNeueCyrThin", Helvetica, sans-serif; }
.h1.max-width { max-width: 750px; margin: 0 auto; }

h2 { text-align: center; font-size: 50px; text-transform: uppercase; color: #e8c29a; letter-spacing: 0.1em; line-height: 1.2; font-family: "HelveticaNeueCyrUltraLight", Helvetica, sans-serif; }

h3 { text-align: center; font-size: 18px; color: #f2ddc6; font-family: "Playfair Display", serif; font-style: italic; }

.button-wrap { font-size: 0; }
.button-wrap .button { display: inline-block; vertical-align: middle; }
.button-wrap .button:not(:only-of-type):first-child { margin-right: 13px; }
@media only screen and (max-width: 768px) { .button-wrap { display: none; } }

.button { display: inline-block; padding: 14px 23px; text-transform: uppercase; font-size: 11px; background: white; color: #e8c29a; border-radius: 19px; line-height: 1; border: 1px solid #e8c29a; font-family: "HelveticaNeueCyrBold", Helvetica, sans-serif; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.button:hover { color: #f0d6bc; border-color: #f0d6bc; -moz-transition: all 0.3s ease; -o-transition: all 0.3s ease; -webkit-transition: all 0.3s ease; transition: all 0.3s ease; }
.button.is-peach { background: #e8c29a; color: white; }
.button.is-peach:hover { background: #e0b686; }
.button.is-orange { background: #f89a36; color: white; border: none; }
.button.is-orange:hover { background: #ef7e07; }

.menu-button { position: relative; display: block; background: none; outline: none; border: none; -webkit-tap-highlight-color: transparent; -webkit-tap-highlight-color: transparent; }
.menu-button .morph-shape { display: inline-block; vertical-align: middle; width: 40px; height: 40px; }
.menu-button .morph-shape svg path, .menu-button .morph-shape svg line { stroke: #f89a36; stroke-width: 2px; -moz-transition: -moz-transform 0.3s; -o-transition: -o-transform 0.3s; -webkit-transition: -webkit-transform 0.3s; transition: transform 0.3s; }

.menu-button.is-open .morph-shape svg path:first-of-type { -moz-transform: translate3d(0, -6px, 0); -ms-transform: translate3d(0, -6px, 0); -webkit-transform: translate3d(0, -6px, 0); transform: translate3d(0, -6px, 0); }

.menu-button.is-open .morph-shape svg path:nth-of-type(2) { -moz-transform: translate3d(0, 6px, 0); -ms-transform: translate3d(0, 6px, 0); -webkit-transform: translate3d(0, 6px, 0); transform: translate3d(0, 6px, 0); }

.l { *zoom: 1; }
.l:after { content: " "; display: table; clear: both; }
.l .l-col1 { float: left; width: 20%; }
.l .l-col2 { float: right; width: 70%; }

.bg-wrap { position: absolute; top: 0; left: 0; right: 0; bottom: 0; }
.bg-wrap .bg { position: absolute; top: 0; left: 0; right: 0; bottom: 0; background: url(../img/horses.png) 50% bottom repeat-x; background-attachment: fixed; z-index: 1; -moz-transition: all 0.8s ease; -o-transition: all 0.8s ease; -webkit-transition: all 0.8s ease; transition: all 0.8s ease; }
.bg-wrap .bg.position { background-position: 50% 114%; }
@media only screen and (max-width: 768px) { .bg-wrap .bg { background-attachment: inherit; -moz-transition: all 0s; -o-transition: all 0s; -webkit-transition: all 0s; transition: all 0s; }
  .bg-wrap .bg.position { background-position: center bottom; } }

.fullpage { z-index: 3; }

.header { position: fixed; width: 100%; top: 6%; z-index: 9; }
.header__in { max-width: 1540px; margin: 0 auto; padding: 0 20px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; *zoom: 1; }
.header__in:after { content: " "; display: table; clear: both; }
.header__bl { font-size: 0; }
.header__bl:first-child { margin-top: 9px; }
.header__menu { display: inline-block; vertical-align: middle; }
.header__link { display: inline-block; margin-left: 20px; text-transform: uppercase; font-size: 11px; color: #e8c29a; vertical-align: middle; font-family: "HelveticaNeueCyrBold", Helvetica, sans-serif; }
.header__link:hover { color: #b9b7c2; }
.header .logo { position: absolute; top: 25px; left: 50%; margin-left: -80px; }
@media only screen and (max-width: 768px) { .header .header__bl:first-child { margin-top: 0; }
  .header .header__link { display: none; } }

.logo { -moz-transition: -moz-transform 0.8s ease; -o-transition: -o-transform 0.8s ease; -webkit-transition: -webkit-transform 0.8s ease; transition: transform 0.8s ease; }
.logo.small { -moz-transform: scale(0.53) translateY(-125px) translateX(-50px); -ms-transform: scale(0.53) translateY(-125px) translateX(-50px); -webkit-transform: scale(0.53) translateY(-125px) translateX(-50px); transform: scale(0.53) translateY(-125px) translateX(-50px); }

.more { position: absolute; left: 0; right: 0; text-align: center; bottom: 28%; margin-left: -49px; font-size: 11px; text-transform: uppercase; color: #f0e3d9; letter-spacing: 0.08em; z-index: 0; font-family: "HelveticaNeueCyrBold", Helvetica, sans-serif; }
.more:before { content: ""; position: absolute; top: -130px; left: 50%; margin-left: -31px; background: url('../img/icons-s6e82b23fd8.png') 0 -97px no-repeat; width: 62px; height: 118px; }
.more span { position: relative; -moz-transition: opacity 0.9s ease; -o-transition: opacity 0.9s ease; -webkit-transition: opacity 0.9s ease; transition: opacity 0.9s ease; }
.more span:after { content: ""; position: absolute; bottom: -155px; left: 50%; margin-left: -7px; background: url('../img/icons-s6e82b23fd8.png') 0 -298px no-repeat; width: 14px; height: 134px; }
.more.is-hidden span { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0); opacity: 0; }

.section { max-width: 1500px; margin: 0 auto; padding-top: 60px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.section__in { max-width: 1080px; margin: 0 auto; padding-top: 16.5%; }
.section__in.small-pad { padding-top: 105px; }
.section .nav { margin-top: 5%; }
.section .more { padding-top: 17%; }

.nav { font-size: 0; }
.nav li { position: relative; display: inline-block; padding: 0 25px; }
.nav li:after { content: "\00B7"; position: absolute; left: 100%; margin-left: -2px; font-size: 20px; color: #e8c29a; }
.nav li:last-child:after { display: none; }
.nav__link { font-size: 20px; color: #8e88a3; font-family: "Playfair Display", serif; font-style: italic; }

.slick-product { margin-top: 40px; }
.slick-product .product__slide { *zoom: 1; }
.slick-product .product__slide:after { content: " "; display: table; clear: both; }
.slick-product .product__img { width: 50%; }
.slick-product .product__txt { width: 50%; padding: 20px 5% 0; font-size: 13px; color: #8e88a3; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.slick-product .product__txt .button { margin-top: 35px; text-transform: uppercase; letter-spacing: 0.1em; }
.slick-product .product__ttl { padding-top: 20px; font-size: 40px; color: #4c4369; line-height: 1.25; font-family: "Playfair Display", serif; }
.slick-product .slick-dots { text-align: left; top: 50%; right: inherit; }
.slick-product .slick-dots li { display: block; padding: 11px 0; }
.slick-product .slick-dots li button { width: 8px; height: 8px; background: #f0e3d9; -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none; }
.slick-product .slick-dots li.slick-active button { background: #8e88a3; }

.blog { font-size: 0; margin-top: 42px; }
.blog__item { display: inline-block; width: 33%; height: 370px; padding: 0 22px; text-align: left; vertical-align: top; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.blog__in { width: 100%; height: 100%; padding: 20px; font-size: 18px; overflow: hidden; -moz-box-shadow: 0 1px 15px rgba(174, 158, 148, 0.43); -webkit-box-shadow: 0 1px 15px rgba(174, 158, 148, 0.43); box-shadow: 0 1px 15px rgba(174, 158, 148, 0.43); -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.blog__img { height: 192px; margin-bottom: 24px; -moz-box-shadow: inset 0 0 5px rgba(181, 170, 158, 0.25); -webkit-box-shadow: inset 0 0 5px rgba(181, 170, 158, 0.25); box-shadow: inset 0 0 5px rgba(181, 170, 158, 0.25); }
.blog__img img { width: 100%; height: 100%; }
.blog__txt { height: 85px; margin-bottom: 10px; color: #4c4369; overflow: hidden; line-height: 1.6; font-family: "Playfair Display", serif; }
.blog__date { color: #e8c29a; font-size: 13px; font-family: "HelveticaNeueCyrLight", Helvetica, sans-serif; }
.blog__btn { display: block; margin-top: 43px; }

.about__ttl { margin-top: 4.3%; text-align: center; font-size: 40px; color: #4c4369; font-family: "Playfair Display", serif; }
.about__bl { position: relative; margin-top: 4%; padding: 0 5%; *zoom: 1; }
.about__bl:after { content: " "; display: table; clear: both; }
.about__bl:before { content: ""; position: absolute; top: -30px; left: 50%; margin-left: -132px; width: 264px; height: 339px; background: url(../img/history.png) 0 0 no-repeat; z-index: -1; }
.about__txt { max-width: 450px; padding-top: 20px; font-size: 13px; color: #8e88a3; line-height: 2; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.about__txt:first-child { padding-right: 20px; }
.about__btn { margin-top: 8%; text-align: center; }

.all { margin-top: 50px; text-align: center; font-size: 0; }
.all__list { display: inline-block; width: 25%; max-width: 235px; padding: 0 3%; text-align: left; vertical-align: top; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.all__list li { margin: 10px 0; }
.all__list li:first-child { margin: 0 0 15px; }
.all__list li:first-child a { font-size: 18px; color: #4c4369; }
.all__list a { display: inline-block; text-decoration: underline; font-size: 16px; color: #deb78e; font-family: "Playfair Display", serif; -moz-transition: all 0.3s ease; -o-transition: all 0.3s ease; -webkit-transition: all 0.3s ease; transition: all 0.3s ease; }
.all__list a:hover { text-decoration: none; }
@media only screen and (max-width: 768px) { .all .all__list { width: 100%; display: block; margin: 0 auto 20px; text-align: center; } }

/** fullPage 2.6.0 https://github.com/alvarotrigo/fullPage.js MIT licensed  Copyright (C) 2013 alvarotrigo.com - A project by Alvaro Trigo Contribution by Jhony0311 */
html, body { margin: 0; padding: 0; overflow: hidden; /*Avoid flicker on slides transitions for mobile phones #336 */ -webkit-tap-highlight-color: transparent; }

#superContainer { height: 100%; position: relative; /* Touch detection for Windows 8 */ -ms-touch-action: none; /* IE 11 on Windows Phone 8.1*/ touch-action: none; }

.fp-section { position: relative; -webkit-box-sizing: border-box; /* Safari<=5 Android<=3 */ -moz-box-sizing: border-box; /* <=28 */ box-sizing: border-box; }

.fp-slide { float: left; }

.fp-slide, .fp-slidesContainer { height: 100%; display: block; }

.fp-slides { z-index: 1; height: 100%; overflow: hidden; position: relative; -webkit-transition: all 0.3s ease-out; /* Safari<=6 Android<=4.3 */ transition: all 0.3s ease-out; }

.fp-section.fp-table, .fp-slide.fp-table { display: table; table-layout: fixed; width: 100%; }

.fp-tableCell { display: table-cell; vertical-align: middle; width: 100%; height: 100%; }

.fp-slidesContainer { float: left; position: relative; }

.fp-controlArrow { position: absolute; z-index: 4; top: 50%; cursor: pointer; width: 0; height: 0; border-style: solid; margin-top: -38px; -webkit-transform: translate3d(0, 0, 0); -ms-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }
.fp-controlArrow.fp-prev { left: 15px; width: 0; border-width: 38.5px 34px 38.5px 0; border-color: transparent #fff transparent transparent; }
.fp-controlArrow.fp-next { right: 15px; border-width: 38.5px 0 38.5px 34px; border-color: transparent transparent transparent #fff; }

.fp-scrollable { overflow: scroll; }

.fp-notransition { -webkit-transition: none !important; transition: none !important; }

.fp-slidesNav { position: absolute; z-index: 4; left: 50%; opacity: 1; }
.fp-slidesNav.bottom { bottom: 17px; }
.fp-slidesNav.top { top: 17px; }

#fp-nav ul, .fp-slidesNav ul { margin: 0; padding: 0; }
#fp-nav ul li, .fp-slidesNav ul li { display: block; width: 14px; height: 13px; margin: 7px; position: relative; }
#fp-nav ul li a, .fp-slidesNav ul li a { display: block; position: relative; z-index: 1; width: 100%; height: 100%; cursor: pointer; text-decoration: none; }
#fp-nav ul li a.active span, .fp-slidesNav ul li a.active span { height: 12px; width: 12px; margin: -6px 0 0 -6px; border-radius: 100%; }
#fp-nav ul li:hover #fp-nav ul li a.active span, #fp-slidesNav ul li:hover #fp-nav ul li a.active span, #fp-nav ul li:hover .fp-slidesNav ul li a.active span, #fp-slidesNav ul li:hover .fp-slidesNav ul li a.active span { height: 12px; width: 12px; margin: -6px 0 0 -6px; border-radius: 100%; }
#fp-nav ul li a span, .fp-slidesNav ul li a span { border-radius: 50%; position: absolute; z-index: 1; height: 4px; width: 4px; border: 0; background: #333; left: 50%; top: 50%; margin: -2px 0 0 -2px; -webkit-transition: all 0.1s ease-in-out; -moz-transition: all 0.1s ease-in-out; -o-transition: all 0.1s ease-in-out; transition: all 0.1s ease-in-out; }
#fp-nav ul li:hover a span, .fp-slidesNav ul li:hover a span { width: 10px; height: 10px; margin: -5px 0px 0px -5px; }

#fp-nav { position: fixed; z-index: 100; margin-top: -32px; top: 50%; opacity: 1; -webkit-transform: translate3d(0, 0, 0); }
#fp-nav.right { right: 17px; }
#fp-nav.left { left: 17px; }
#fp-nav ul li .fp-tooltip { position: absolute; top: -2px; color: #fff; font-size: 14px; font-family: arial, helvetica, sans-serif; white-space: nowrap; max-width: 220px; overflow: hidden; display: block; opacity: 0; width: 0; }
#fp-nav ul li .fp-tooltip.right { right: 20px; }
#fp-nav ul li:hover .fp-tooltip { -webkit-transition: opacity 0.2s ease-in; transition: opacity 0.2s ease-in; width: auto; opacity: 1; }
#fp-nav.fp-show-active a.active + .fp-tooltip { -webkit-transition: opacity 0.2s ease-in; transition: opacity 0.2s ease-in; width: auto; opacity: 1; }

.fp-slidesNav ul li { display: inline-block; }

.slick-slider { position: relative; display: block; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; -ms-touch-action: pan-y; touch-action: pan-y; -webkit-tap-highlight-color: transparent; }

.slick-list { position: relative; overflow: hidden; display: block; margin: 0; padding: 0; }
.slick-list:focus { outline: none; }
.slick-loading .slick-list { background: white slick-image-url("ajax-loader.gif") center center no-repeat; }
.slick-list.dragging { cursor: pointer; cursor: hand; }

.slick-slider .slick-list, .slick-track, .slick-slide, .slick-slide img { -webkit-transform: translate3d(0, 0, 0); -moz-transform: translate3d(0, 0, 0); -ms-transform: translate3d(0, 0, 0); -o-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }

.slick-track { position: relative; left: 0; top: 0; display: block; zoom: 1; }
.slick-track:before, .slick-track:after { content: ""; display: table; }
.slick-track:after { clear: both; }
.slick-loading .slick-track { visibility: hidden; }

.slick-slide { float: left; height: 100%; min-height: 1px; display: none; }
.slick-slide img { display: block; max-width: 100%; }
.slick-slide.slick-loading img { display: none; }
.slick-slide.dragging img { pointer-events: none; }
.slick-initialized .slick-slide { display: block; }
.slick-loading .slick-slide { visibility: hidden; }
.slick-vertical .slick-slide { display: block; height: auto; border: 1px solid transparent; }

.slick-prev, .slick-next { position: absolute; top: 50%; margin-top: -14px; font: 0/0 a; text-shadow: none; color: transparent; height: 50px; background: none; }
.slick-prev:focus, .slick-next:focus { outline: none; }
.slick-prev.slick-disabled, .slick-next.slick-disabled { opacity: 0.2; }
.slick-prev:before, .slick-next:before { height: 50px; line-height: 50px; }

.slick-prev { left: 0; }
.slick-prev:before { content: "←"; display: inline-block; vertical-align: middle; font-size: 61px; color: white; }

.slick-next { right: 0; }
.slick-next:before { content: "→"; display: inline-block; vertical-align: middle; font-size: 61px; color: white; }

.slick-dots { text-align: center; position: absolute; margin: 0; bottom: 0; left: 0; right: 0; }
.slick-dots li { position: relative; display: inline-block; padding: 0 3px; }
.slick-dots li.slick-active button { opacity: 0.3; box-shadow: none; }
.slick-dots li:before { display: none; }
.slick-dots button { display: block; width: 6px; height: 6px; background: white; -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25); -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25); box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25); cursor: pointer; font: 0/0 a; text-shadow: none; color: transparent; border-radius: 50%; }
.slick-dots button:hover { box-shadow: none; }
