// Normally mainpage styles
.bg-wrap
	position: absolute
	top: 0
	left: 0
	right: 0
	bottom: 0
	.bg
		position: absolute
		top: 0
		left: 0
		right: 0
		bottom: 0
		background-image: url(../img/horses.png)
		background-position: 50% bottom
		background-repeat: repeat-x
		background-attachment: fixed
		z-index: 1
		+transition(all 0.8s ease)
		&.position
			background-position: 50% 114%
		+r(1028)
			-webkit-background-size: contain
			-o-background-size: contain
			background-size: contain
		+rwh(768, 685)
			position: static
			height: 291px
			background-attachment: inherit
			+transition(all 0s ease)
			&.position
				background-position: center bottom
	.more
		display: block
		position: absolute
		left: 0
		right: 0
		bottom: 28%
		&:before
			top: -130px
			margin-left: -31px
			+s(long-curve)
		span
			padding: 25px 0
	+r(1280)
		.more
			&:before
				top: 52px
				left: 50%
				margin-left: -15.5px
				+s(small-curve)
	+rwh(768, 685)
		position: static
		.more
			display: none

.fullpage
	z-index: 3

.header
	position: fixed
	width: 100%
	top: 6%
	z-index: 9
	&__in
		max-width: 1540px
		margin: 0 auto
		padding: 0 20px
		+box
		+clr
	&__bl
		font-size: 0
		&:first-child
			margin-top: 9px
	&__menu
		display: inline-block
		vertical-align: middle
	&__link
		display: inline-block
		margin-left: 20px
		text-transform: uppercase
		font-size: 11px
		color: $peach
		vertical-align: middle
		+hb
		&:hover
			color: $gray
	+r(768)
		top: 0
		min-height: 100px
		background: #fff
		.header__bl
			&:first-child
				margin-top: 0
		.header__in
			padding: 5px 25px 0
		.header__link
			display: none
		.logo
			top: 50px

.logo
	position: absolute
	top: 25px
	left: 50%
	margin-left: -81px
	img
		+transition(all 0.7s ease)
	&:before
		content: ""
		position: absolute
		left: 50%
		margin-left: -50px
		width: 100px
		height: 74px
		background: url(../img/logo-small.png) no-repeat
		+opacity(0)
		+transition(opacity 0.8s ease)
	&.small
		img
			+opacity(0)
			+transform(scale(0.53) translateY(-50px))
		&:before
			+opacity(1)
	+rwh(768, 685)
		img
			+opacity(0)
			+transform(scale(0.53) translateY(-50px))
		&:before
			+opacity(1)

.more
	display: none
	position: relative
	text-align: center
	font-size: 11px
	text-transform: uppercase
	color: #F0E3D9
	letter-spacing: 0.08em
	z-index: 0
	+hb
	+transition(all 0.9s ease)
	&:before
		content: ""
		position: absolute
		top: 52px
		left: 50%
		margin-left: -15.5px
		+s(small-curve)
	span
		position: relative
		padding: 20px 0
		background: #fff
		+transition(opacity 0.5s ease)
	&.is-hidden
		bottom: 6%
		span
			+opacity(0)
	&.is-none
		+opacity(0)

.section
	max-width: 1500px
	margin: 0 auto
	padding-top: 60px
	+box
	&:after
		display: none
		content: ""
		position: absolute
		left: 50%
		bottom: -125px
		margin-left: -15.5px
		background: url(../img/icons/small-curve.png) no-repeat
		width: 31px
		height: 100px
	&__in
		max-width: 1080px
		margin: 0 auto
		padding-top: 16.5%
		&.small-pad
			padding-top: 105px
	.nav
		margin-top: 5%
	.more
		padding-top: 17%
	+r(768)
		padding: 0 25px
		&:first-child
			.section__in
				padding-top: 170px
		.section__in
			padding-top: 150px
	+rwh(768, 685)
		position: relative
		&:after
			display: block
		&:first-child,
		&:last-child
			&:after
				display: none
		.more
			display: block
			padding-top: 125px


//navigation
.nav
	font-size: 0
	li
		position: relative
		display: inline-block
		padding: 0 25px
		&:after
			content: "\00B7"
			position: absolute
			top: 50%
			left: 100%
			margin: -14px 0 0 -2px
			font-size: 20px
			color: $peach
		&:last-child
			&:after
				display: none
	&__link
		font-size: 20px
		color: $lavender
		+opacity(0.8)
		+pfi
		&:hover
			+opacity(1)
	+r(768)
		margin-top: 30px
		li
			padding: 0 15px
		.nav__link
			font-size: 14px

//product
.slick-product
	margin-top: 40px
	.product__slide
		+clr
	.product__img
		width: 50%
		.product__ttl
			display: none
			text-align: center
			font-size: 24px
	.product__txt
		width: 50%
		padding: 20px 5% 0
		color: $lavender
		+box
		.button
			margin-top: 35px
			text-transform: uppercase
			letter-spacing: 0.1em
	.product__p
		line-height: 24px
		letter-spacing: 0.03em
	.product__ttl
		margin-bottom: 30px
		padding-top: 20px
		font-size: 40px
		color: $violet
		line-height: 1.25
		+pf
	.slick-dots
		text-align: left
		top: 50%
		left: 10px
		right: inherit
		bottom: inherit
		+transform(translateY(-50%))
		li
			display: block
			padding: 11px 0
			button
				width: 8px
				height: 8px
				background: #F0E3D9
				+box-shadow(none)
			&.slick-active
				button
					background: $lavender
	+r(768)
		.product__img,
		.product__txt
			float: none
			width: 100%
		.product__img
			img
				margin: 0 auto
			.product__ttl
				display: block
		.product__txt
			padding: 20px 0 0
			font-size: 12px
			.button
				display: block
				max-width: 260px
				margin: 35px auto 0
		.product__ttl
			display: none

//blog
.blog
	font-size: 0
	margin-top: 42px
	&__item
		display: inline-block
		text-align: center
		height: 370px
		padding: 22px
		text-align: left
		vertical-align: top
		+box
	&__in
		max-width: 315px
		margin: 0 auto
		padding: 20px
		font-size: 18px
		background-color: #fff
		overflow: hidden
		+box-shadow(0 1px 15px rgba(174, 158, 148, 0.43))
		+box
	&__img
		height: 192px
		margin-bottom: 24px
		+box-shadow(inset 0 0 5px rgba(181, 170, 158, 0.25))
		img
			width: 100%
			height: 100%
	&__txt
		height: 85px
		margin-bottom: 10px
		color: $violet
		overflow: hidden
		line-height: 1.6
		+pf
	&__date
		color: $peach
		font-size: 13px
		+hl
	&__btn
		display: block
		margin-top: 23px
	&.slick-slider
		.blog__item
			padding: 22px 0
		.slick-prev
			left: 10px
			&:before
				content: ""
				+svg(prev, 14, 33)
		.slick-next
			right: 10px
			&:before
				content: ""
				+svg(next, 14, 33)
	+r(768)
		.blog__in
			max-width: 245px
			padding: 17px 13px
			font-size: 14px
		.blog__date
			font-size: 12px
		.blog__btn
			margin-top: 28px
		&.slick-slider
			.slick-prev
				left: -10px
			.slick-next
				right: -10px


//about
.about
	&__ttl
		margin-top: 4.3%
		text-align: center
		font-size: 40px
		color: $violet
		+pf
	&__bl
		position: relative
		margin-top: 4%
		padding: 0 5%
		+clr
		&:before
			content: ""
			position: absolute
			top: -30px
			left: 50%
			margin-left: -132px
			width: 264px
			height: 339px
			background: url(../img/history.png) 0 0 no-repeat
			z-index: -1
	&__txt
		width: 50%
		max-width: 450px
		padding-top: 20px
		font-size: 13px
		color: $lavender
		line-height: 2
		+box
		&:first-child
			padding-right: 20px
	&__btn
		margin-top: 8%
		text-align: center
	+rwh(1280, 650)
		.about__bl
			&:before
				top: -60px
				+transform(scale(0.7))
		.about__txt
			font-size: 12px
	+r(768)
		.about__bl
			&:before
				display: none
		.about__ttl
			font-size: 24px
		.about__txt
			float: none
			width: 100%
			margin: 0 auto
			padding-right: 0
			text-align: center

//all
.all
	margin-top: 50px
	text-align: center
	font-size: 0
	&__list
		display: inline-block
		width: 25%
		max-width: 235px
		padding: 0 3%
		text-align: left
		vertical-align: top
		+box
		li
			margin: 10px 0
			&:first-child
				margin: 0 0 15px
				a
					font-size: 18px
					color: $violet
		a
			display: inline-block
			text-decoration: underline
			font-size: 16px
			color: #DEB78E
			+pf
			+transition(all 0.3s ease)
			&:hover
				text-decoration: none
	+r(768)
		.all__list
			width: 100%
			display: block
			margin: 0 auto 45px
			text-align: center

//footer
.footer
	&.is-fixed
		position: fixed
		left: 0
		right: 0
		bottom: 15%
		padding: 0 20px
		z-index: 9
		+opacity(0)
		+transition(all 0.3s ease)
		p
			color: $violet
			a
				color: $violet
				&:hover
					text-decoration: underline
		&.is-visible
			bottom: 20%
			+opacity(1)
